
@media print {
    /* здесь будут стили для печати */
    body {
		font-family: calibri;
        font-size: 20px;
    }
	.note {
		display: none;
	}
	.divhidden {
	  display: inline;
	}
	select {
	  display: none;
	}
	.tooltip {
	  display: none;
	}
	div[contenteditable=true]:empty {
	  border: 0px;
	  padding: 0px;
	}
	[close]{
		display: none !important;
	}
}